.custom-jumbotron{
    background-image: linear-gradient(to right, rgb(84, 130, 239), rgb(25, 12, 74));
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

h3{
    font-family: 'Roboto', sans-serif;
}

.custom-btn{
    background-color: rgb(106, 163, 255);
    color: white;
    margin: 10px 0px;
}

#divider{
    border-top: 1px solid black;
}

